@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap");

body {
  background-color: #202040;
  color: #efefef;
  font-family: "Nunito", sans-serif;
}
.widget-wrap {
  height: 200px;
  margin-bottom: 15px;
  background-color: #602080;
}
.widget-title {
  border-bottom: 1px solid rgb(136, 135, 135);
  text-align: left;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 10px;
  color: #202040;
}
.widget-value {
  padding-top: 10px;
  padding-bottom: 10px;
}
.widget-value .value {
  display: flex;
  align-items: flex-end;
  height: 80px;
  font-size: 57px;
  font-weight: 700;
  text-align: left;
  padding: 10px 8px;
  line-height: 100%;
}
.description {
  text-align: left;
  font-size: 12px;
  padding-left: 13px;
}
text {
  fill: white;
}
.top-header {
  background: #202040;
  margin-bottom: 10px;
  padding: 10px 15px;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
}
.dropdown {
  position: relative;
  font-size: 15px;
  width: 142px;
  float: right;
}
